@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Prompt:wght@400;600&display=swap');


:root {
  --champagne-pink: #f2dfd7;
  --ghost-white: #fef9ff;
  --thistle: #d4c1ec;
  --maximum-blue-purple: #9f9fed;
  --medium-slate-blue: #736ced;
  --dark-blue: #110C64;
}

body {
  background: var(--champagne-pink);
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.quotes-card {
  width: 50%;
  margin: auto;
  padding: 50px;
  background: var(--ghost-white);
  border-radius: 80px;
}
button {
  border: none;
  padding: 10px;
  background-color: var(--thistle);
  cursor: pointer;
}

.quote {
  font-family: 'Oleo Script Swash Caps', cursive;
  font-size: 30px;
  color: var(--medium-slate-blue);
}

.author, button {
  color: var(--dark-blue);
  font-family: 'Prompt', sans-serif;
  font-weight: 600;
}

.author {
  font-size: 20px;
}
